# Общие правила для .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.vs/
*.db
*.db-shm
*.db-wal

# MSIX и Windows App SDK артефакты
*.pri
*.winmd
*.cat
*.p7x
*.xml
*.manifest
*.msix
*.msixupload
*.msixbundle

# Временные файлы Visual Studio
.vscode/
*.suo
*.userosscache
*.sln.docstates

# Пакеты NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Конфигурации и временные лицензии
*.license.xml
*.licx

# Локализационные ресурсы (mui)
*.mui

# Кэш SourceLink
*.sourcelink.json

# Автоматически генерируемые списки файлов
*.FileListAbsolute.txt
